<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <header class="header">Mini message board</header>
    <div class="message-container">
      <h2>Messages</h2>
      <% for (var i = 0; i< messages.length; i++) { %>
      <div class="message">
        <h3 class="user"><%= messages[i].user %></h3>
        <p class="message-text"><%= messages[i].text %></p>
      </div>
      <% } %>
      <form method="GET" action="/new">
        <button class="add-btn" type="submit">Add a new message</button>
      </form>
    </div>
  </body>
</html>
