<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Messages</h1>
    <p>
      <% for (var i = 0; i< messages.length; i++) { %> 
        <div class="message">
          <h2 class="user"> <%= messages[i].user %></h2>
          <p class="message-text"> <%= messages[i].text %> </p>
        </div>
      <% } %>
    </p>
  </body>
</html>
